* {
  padding: 0;
}

body
{
  width: 100%; 
  height:100%;
  margin:0em 5%;
  background-position: center bottom;
  animation: animatedBackground 30s linear infinite;
  -webkit-animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}

#crystal {
  position: relative;
  margin-top: 1em;
  transition: all .2s ease-in-out;
}

#crystal.hover {
  transform: scale(2.1);
}

#log {
  position: relative;
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 18px;
  text-align: center;
  margin-top: -24em;
  margin-left: 24em;
  width: 100px;
  opacity:.9;

 }

#fortune {
   width: 100%;
    height: 100px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background: 0;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    border: none;
    text-align: center;

}

button {
  position: relative;
    background: 0;
    border-style: none;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
    width: 100%;
}

#gypsy {
  position: relative;
  margin-top: -18em;
  margin-left: -1em;
  z-index: -1;
}

#smoke {
  opacity: 0.5;
  position: relative;
  margin-top: -9.5em;
  margin-left: 1em
}
